# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
run-data

# Files from Forge MDK
forge*changelog.txt
!/src/main/java/com/TovidY/kunluncontinent/.workbuddy/
!/src/generated/resources/.cache/
!/sverer/
/src/main/java/com/TovidY/kunluncontinent/.workbuddy/
